@import './variables';

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'bahnschrift', sans-serif;
}

html, body{
    color: #fff;
    background: #00061c;
    height: 100%;
    width: 100%;
    background: #01061C;
    // overflow-x: hidden;
}

#container {
    transition: all 0.5s ease;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.section {
    min-height: 100vh;
    position: relative;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100vw;
    padding: 0px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    transition: transform 0.1s linear;

    #links2 {
        display: none;
        transition: all 0.5s ease;
        opacity: 0;
        
        #close-events {
            cursor: pointer
        }
    }
}

#logo {
    max-height: 50px;
}

#hamburger {
    max-height: 40px;
    cursor: pointer;
    transition: all 0.07s ease-in-out;
}

#links {
    display: flex;
    height: 100%;
    align-items: center;
    transition: all 0.5s ease;
}

#nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-links span {
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 40px;
    transition: all 0.2s ease-in-out;
}

#nav-links span:hover {
    transform: scale(1.1);
}

#register-btn {
    color: #fff;
    padding: 5px 20px;
    border: 1.5px solid #B525E9;
    border-radius: 20px;
    cursor: pointer;
}

#side-menu {
    position: fixed;
    right: -400px;
    top: 0px;
    width: 400px;
    background: blue;
    height: 100vh;
    padding: 0 25px;
    overflow-y: auto;
    transition: right 0.5s cubic-bezier(0,.93,.39,1);
    background-image: $theme-gradient;
    z-index: 9999;
}

#side-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    align-items: center;
}

#close-hamburger {
    max-height: 35px;
    cursor: pointer;
    transition: all 0.07s ease-in-out;
}

#side-menu-heading {
    font-size: 20px;
    color: #fff;
}

#side-menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#side-menu-list {
    span {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 40px;
        transition: all 0.2s ease-in-out;        
        cursor: pointer;
    }

    span:hover {
        margin-left: 10px;
    }
}

#events, #speakers {
    padding-top: 100px;
}

#hamburger:hover, #close-hamburger:hover, #close-events:hover {
    animation: rotateAnim 0.5s ease-out;
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#events{
    position: relative;
    height: 130vh;
}

.content-wrap {
    display: flex;
    width: 550px;
    justify-content: space-between;

    .content-line-wrap {
        display: flex;
        align-items: center;
        height: 33px;
        width: 10%;
    }
    .content-text {
        line-height: 33px;
        width: 85%;
        font-size: 105%;
    }
}

.before-content-line {
    background: $pink-here;
    width: 70px;
    height: 2px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
    height:100%;

    .social-icons {
        height: 22%;
        width: 30%;
        display: flex;
        justify-content: space-around;

        img {
            height: 100%;
        }
    }
}

.overlay {
    background: #00061c;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: fixed;
    top: 120%;
    left: 0px;
    color: #fff;
    transition: opacity 0.3s ease-in-out, top 0.5s cubic-bezier(.55,.01,.17,1);

    .overlay-content {
        height: calc(100vh - 150px);
        overflow-y: auto;
        padding: 20px 10vw 0 10vw;

        @media all and (max-width: 1000px) {
            padding: 30px 10vw 0 10vw;
        }

        @media all and (max-width: 600px) {
            padding: 0px 10vw 0 10vw;
        }
    }

    h2 {
        font-size: 4em;
        font-family: 'teko-light';
        letter-spacing: 20px;
        color: $pink-here;

        @media all and (max-width: 1000px) {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

        @media all and (max-width: 600px) {
            font-size: 2em;
            letter-spacing: 10px;
        }
    }
}

.overlay-topbar {
    display: flex;
    width: 100vw;
    height: 100px;
    padding: 0 10vw;
    justify-content: space-between;
    align-items: center;

    .close-overlay {
        max-height: 35px;
        cursor: pointer;
        transition: all 0.07s ease-in-out;
    }
    
    .close-overlay:hover {
        animation: rotateAnim 0.5s ease-out;
    }
    
    @keyframes rotateAnim {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .logo-overlay {
        max-height: 40px;
    }
}

#workshop, #events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh !important;
    min-height: 0;
}

@media all and (max-width: 600px) and (orientation: portrait) {
    .content-wrap {
        width: 90vw;
    
        .content-line-wrap {
            height: 22px;
        }
        .content-text {
            line-height: 22px;
            font-size: 90%;
        }
    }

    .before-content-line {
        width: 50px;
    }
}