@import './variables';

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'bahnschrift', sans-serif;
}

html, body{
    color: #fff;
    background: #00061c;
    height: 100%;
    width: 100%;
    background: #01061C;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.section {
    min-height: 100vh;
    position: relative;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100vw;
    padding: 0px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    transition: transform 0.1s linear;
    background: #01061C;
}

#logo {
    max-height: 50px;
}

#hamburger {
    max-height: 40px;
    cursor: pointer;
    transition: all 0.07s ease-in-out;
}

#links {
    display: flex;
    height: 100%;
    align-items: center;
}

#nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
}

#nav-links span {
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#nav-links span:hover {
    transform: scale(1.1);
}

#register-btn {
    color: #fff;
    padding: 5px 20px;
    border: 1.5px solid #B525E9;
    border-radius: 20px;
    cursor: pointer;
}

#side-menu {
    position: fixed;
    right: -400px;
    top: 0px;
    width: 400px;
    background: blue;
    height: 100vh;
    padding: 0 25px;
    overflow-y: auto;
    transition: right 0.5s cubic-bezier(0,.93,.39,1);
    background-image: linear-gradient(60deg, #250135, #162539);
    z-index: 9999;
}

#side-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    align-items: center;
}

#close-hamburger {
    max-height: 35px;
    cursor: pointer;
    transition: all 0.07s ease-in-out;
}

#side-menu-heading {
    font-size: 20px;
    color: #fff;
}

#side-menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#side-menu-list {
    span {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 40px;
        transition: all 0.2s ease-in-out;        
        cursor: pointer;
    }

    span:hover {
        margin-left: 10px;
    }
}

#hamburger:hover, #close-hamburger:hover {
    transform: rotate(90deg);
}

#events{
    position: relative;
    height: 130vh;
}

.content-wrap {
    display: flex;
    width: 550px;
    justify-content: space-between;

    .content-line-wrap {
        display: flex;
        align-items: center;
        height: 33px;
        width: 10%;
    }
    .content-text {
        line-height: 33px;
        width: 85%;
        font-size: 105%;
    }
}

.before-content-line {
    background: $pink-here;
    width: 70px;
    height: 2px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
    height:100%;

    .social-icons {
        height: 22%;
        width: 30%;
        display: flex;
        justify-content: space-around;

        img {
            height: 100%;
        }
    }
}

@media all and (max-width: 600px) and (orientation: portrait) {
    .content-wrap {
        width: 90vw;
    
        .content-line-wrap {
            height: 22px;
        }
        .content-text {
            line-height: 22px;
            font-size: 90%;
        }
    }

    .before-content-line {
        width: 50px;
    }
}