html, body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.section {
    min-height: 100vh;
}

#about {
    background: gray;
}

#events {
    background: green;
}

#workshop {
    background: gray;
}