@import './variables';

#events-content-inner{
    position: absolute;
    padding-right: 15vw;
    right: 2px;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-card {
    display: flex;
    height: 22.5%;
    background-image: linear-gradient(45deg, #1f0936, #200736)
}

.event-image{
    width: 25%;
    background-image: url('../imgs/cara.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.event-info {
    width: 75%;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    h3{
        color: white;
        font-family: 'bahnschrift';
        font-weight: lighter;
        font-weight: 500;
        letter-spacing: 4px;
        font-size: 32px;
    }
    h6{
        color: white;
        font-family: 'bahnschrift';
        font-weight: lighter;
        font-size: 16px;
        margin-top: -7px;
        letter-spacing: 1px;
    }
    p{
        color: $pink-here;
        font-family: 'bahnschrift';
        font-weight: lighter;
        font-size: 16px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    hr{
        height: 1.5px;
        width: 20%;
        background-color: $pink-here;
        margin-top: 10px;
        display: inline-block;
        transform: translateY(-4px);
    }
    span{
        padding-left: 8px;
        letter-spacing: 2.6px;
    }
}