@import './variables';

#events{
    h1{
            font-family: 'teko-light';
            font-size: 100px;
            line-height: 1;
            font-weight: lighter;
            letter-spacing: 20px;
            text-align: center;
            padding-left:20px
            // margin-top: 30px;
    }
}

#events-content-inner{
    position: absolute;
    // padding-right: 17.5vw;
    height: 85%;
    // right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-card {
    display: flex;
    height: 23.5%;
    background-image: linear-gradient(45deg, #1f0936, #200736)
}

.event-image{
    width: 25%;
    background-image: url('../imgs/cara.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.event-info {
    width: 75%;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    h3{
        color: white;
        font-family: 'bahnschrift';
        font-weight: lighter;
        font-weight: 500;
        letter-spacing: 4px;
        font-size: 32px;
    }
    h6{
        color: white;
        font-family: 'bahnschrift';
        font-weight: lighter;
        font-size: 16px;
        letter-spacing: 1px;
    }
    p{
        color: $pink-here;
        font-family: 'bahnschrift';
        font-weight: lighter;
        font-size: 16px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    hr{
        height: 1.5px;
        width: 20%;
        background-color: $pink-here;
        margin-top: 10px;
        display: inline-block;
        transform: translateY(-4px);
    }
    span{
        padding-left: 8px;
        letter-spacing: 2.6px;
    }
}

#single-event-page {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: none;

    .overlay-topbar {
        justify-content: flex-end;
    }

    .register-button {
        padding: 10px 15px;
        border: 2px solid #fff;
        text-transform: uppercase;
        width: 200px;
        cursor: pointer;
        font-family: 'teko-light';
        font-size: 170%;
        letter-spacing: 5px;
        color: $pink-here;
        background: none;
        transition: all 0.1s ease-in-out;
        text-align: center;
        margin-top: 20px;

        @media all and (max-width: 600px) {
            width: 150px;
        }
    }
    .register-button:hover {
        background: $pink-here;
        color: #fff;
    }
}

@media screen and (max-width: 600px){
    #events{
        h1{
            display: block;
            font-size: 15vw;
        }
    }    
    #events-content-inner{
        width: 75%;
    }

    .event-info {
        h3 {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 480px){
    .event-info{
        h3 {
            font-size: 16px;
        }
        h6, span{
            font-size: 14px;
        }
        p {
            font-size: 12px;
            margin-top: 3px;
            margin-bottom: 0;
        }
        overflow-y: hidden;
    }
}