@font-face{
    font-family: 'bahnschrift';
    src: url('../fonts/bahnschrift.ttf');
}

@font-face{
    font-family: 'teko-light';
    src: url('../fonts/Teko-Light.ttf');
}

@font-face{
    font-family: 'teko-medium';
    src: url('../fonts/Teko-Medium.ttf');
}

@font-face{
    font-family: 'teko-regular';
    src: url('../fonts/Teko-Regular.ttf');
}