#home {
    .home-content {
        position: absolute;
        top: 25vh;
        left: 20vw;

        h1 {
            font-family: 'teko-light';
            font-size: 100px;
            line-height: 1;
            font-weight: lighter;
            letter-spacing: 20px;
        }

        .content-wrap {
            display: flex;
            width: 33vw;
            justify-content: space-between;

            .content-line-wrap {
                display: flex;
                align-items: center;
                height: 33px;

                .before-content-line {
                    background: #fc18b9;
                    width: 70px;
                    height: 2px;
                }
            }
            .content-text {
                line-height: 33px;
                width: 85%;
                font-size: 20px;
            }
        }

    }

    .home-footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .social-icons {
            display: flex;
        }
    }
}