#home {
    h1 {
        font-family: 'teko-light';
        font-size: 100px;
        position: absolute;
        top: 25vh;
        left: 20vw;
        line-height: 1;
        font-weight: lighter;
        letter-spacing: 20px;
    }
}