@media all and (max-width: 600px) and (orientation: portrait) {
    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: block;
    }

    #navbar {
        height: 60px;
        padding: 0 5vw;
        border-bottom: 1px solid #B525E9;
    }

    #logo {
        max-height: 30px;
    }

    #hamburger {
        max-height: 30px;
    }

    #side-menu {
        width: 100vw;
        right: -100vw;
    }

    #side-menu-top {
        height: 60px;
    }

    #close-hamburger {
        max-height: 27px;
    }
    
    #container {
        padding: 80px 0 0 0;
    }
}