@media all and (max-width: 600px) and (orientation: portrait) {
    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: block;
    }

    #navbar {
        height: 60px;
        padding: 0 5vw;
        border-bottom: 1px solid #B525E9;
    }

    #logo {
        height: 75%;
    }

    #hamburger {
        max-height: 30px;
    }

    #side-menu {
        width: 100vw;
        right: -100vw;
    }

    #side-menu-top {
        height: 60px;
    }

    #side-menu-footer {
        position: absolute;
        bottom:20px;
        height: 80px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content-line-wrap {
            height: 100%;
            width: 60%;
            display: flex;
            align-items: center;

            .before-content-line {
                width: 100%;
            }
        }

        a {
            height: 22%;

            img {
                height: 100%;
            }
        }
    }

    #close-hamburger {
        max-height: 27px;
    }
    
    #container, #events {
        padding: 80px 0 0 0;
    }
}