#speakers {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.speakers-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 100px 0 0 50px;
}

.speaker-hidden {
    opacity: 0;
    display: none;
}

#speakers-heading {
    font-family: 'teko-light';
    font-size: 75px;
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.speaker {
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    box-shadow: 0 0 30px 10px #00000050;
}

.speaker-center {
    transform: scale(1.1);
}

.speaker-img {
    width: 100%;
    height: auto;
}

.speaker-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-image: linear-gradient(60deg, #250135, #0b0c41);
}

.speaker-name {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.speaker-occupation {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    font-size: 13px;
    margin-bottom: 10px;
}

.speaker-info {
    font-size: 15px;
    color: #B525E9;
    margin-bottom: 10px;
}

.speaker-bar {
    width: 40%;
    height: 1.5px;
    background: #B525E9;
    margin-bottom: 10px;
}

#speaker-right-arrow, #mobile-speaker-right-arrow {
    transform: rotate(180deg);
}

#mobile-speaker-left-arrow, #mobile-speaker-right-arrow {
    display: none;
}

#arrows {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 500;
    user-select: none;
}

.speaker-arrow {
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.speaker-arrow:active, .speaker-arrow:focus {
    outline: none;
}

@media all and (max-width: 900px) {
    .speaker {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .speaker-hidden {
        opacity: 0;
        display: none;
    }    
    #speakers-heading {
        font-size: 15vw;
        padding-top: 20px;
        padding-left: 10px;
    }
    #speakers {
        padding-top: 10px;
    }
}

@media all and (max-width: 600px) {
    .speaker {
        width: 65%;
    }

    .speaker-arrow {
        position: absolute;
        top: 50%;
        z-index: 5;
        height: 35px;
    }

    #mobile-speaker-left-arrow, #mobile-speaker-right-arrow {
        display: block;
    }

    #mobile-speaker-left-arrow {
        left: 3%;
    }

    #mobile-speaker-right-arrow {
        right: 3%;
    }
}

.fadeInDesktop {
    animation: fadeInDesktop 0.5s ease forwards;
}
.fadeOffDesktop {
    animation: fadeOffDesktop 0.5s ease forwards;
}
.fadeInMobile {
    animation: fadeInMobile 0.5s ease forwards;
}
.fadeOffMobile {
    animation: fadeOffMobile 0.5s ease forwards;
}

@keyframes fadeOffDesktop {
    0% {
        opacity: 1;
        transform: translate(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyframes fadeInDesktop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeOffMobile {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}

@keyframes fadeInMobile {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}